<p class="additional-menu-field additional-menu-field-{{ name }} description description-{{ size ? size : 'wide' }} {{ field_class ?: '' }}">
    <label for="edit-menu-item-{{ name }}-{{ id }}">
        {{ ( label and type != 'checkbox' ) ? label ~ '<br>' : '' }}

        {% if type == 'select' and options %}
            <select
                    id="edit-menu-item-{{ name }}-{{ id }}"
                    class="widefat code edit-menu-item-{{ name }}"
                    name="menu-item-{{ name }}[{{ id }}]">
                {% for key, name in options %}
                    <option value="{{ key }}" {{ (value == key) ? 'selected' : '' }}>{{ name }}</option>
                {% endfor %}
            </select>
        {% elseif type == 'image' %}
            <span class="js-super-menu-image-container super-menu-image-container super-menu-image-container--{{ value ? 'selected' : '' }}">
                <span class="super-menu-image-preview">
                    {% if value %}
                        {{ super_img(value, 150) }}
                    {% endif %}
                </span>
                <span class="super-menu-image-controls">
                    <input
                            type="hidden"
                            id="edit-menu-item-{{ name }}-{{ id }}"
                            class="widefat code edit-menu-item-{{ name }} super-menu-image-value"
                            name="menu-item-{{ name }}[{{ id }}]"
                            value="{{ value }}"/>
                    <button class="select-menu-image super-menu-image-browse button"
                            data-id="edit-menu-item-{{ name }}-{{ id }}">Select image</button>
                    <span class="super-menu-image-remove">Remove image</span>
                </span>
            </span>
        {% else %}
            {% if type == 'checkbox' %}
                <input type="hidden" name="menu-item-{{ name }}[{{ id }}]" value="0"/>
            {% endif %}
            <input
                    type="{{ type ? type : 'text' }}"
                    id="edit-menu-item-{{ name }}-{{ id }}"
                    class="widefat code edit-menu-item-{{ name }}"
                    name="menu-item-{{ name }}[{{ id }}]"
                    value="{{ type == 'checkbox' ? 1 : value }}"
                    {{ ( type == 'checkbox' and value == 1 ) ? 'checked' : '' }}>
        {% endif %}

        {{ ( label and type == 'checkbox' ) ? label : '' }}
    </label>
    <span>{{ description ? description : '' }}</span>
</p>
