<meta charset="{{ site.charset }}"/>
<meta name="description" content="{{ site.description }}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=0.96, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />

<meta property="og:url" content="{{ function('get_permalink', post.ID) }}"/>
<meta property="og:type" content="{% if function('is_single') %}article{% else %}website{% endif %}"/>
<meta property="og:title" content="{{ post.post_title }}"/>
<meta property="og:description"
      content="{% if function('get_the_excerpt', post) %}{{ function('get_the_excerpt', post) }}{% else %}{{ site.description }}{% endif %}"/>
<meta property="og:image"
      content="{% if function('get_the_post_thumbnail_url', post) %}{{ function('get_the_post_thumbnail_url', post) }}{% else %}{{ theme.url('images/site-preview.png') }}{% endif %}"/>

<link rel="pingback" href="{{ site.pingback_url }}"/>
<link rel="profile" href="https://gmpg.org/xfn/11">
<base href="{{ site.url }}/">
