{% block banner %}
    {% include 'partials/banner.twig' %}
{% endblock %}
<!doctype html>
<html {{ site.language_attributes|raw }} {% if function('is_admin_bar_showing') %} class="admin-bar-root"{% endif %}>
<head>
    {% block head %}
        {% include 'partials/head.twig' %}
    {% endblock %}

    {{ function('wp_head') }}

    <style id="super-theme-custom-css">
        {{ fn('do_action', 'super_theme_custom_css') }}
    </style>
</head>
<body {{ fn('body_class') }}>

{% block header %}
    {% include 'partials/header.twig' %}
{% endblock %}

{% block main %}
    <main>
        {% filter site_content_inner %}
            {% block before_content_inner %}{% endblock %}
            <section class="site-container super-container--space-normal">
                {% block content %}{% endblock %}
            </section>
            {% block after_content_inner %}{% endblock %}
        {% endfilter %}
    </main>
{% endblock %}

{% block footer %}
    {% include 'partials/footer.twig' %}
{% endblock %}

{{ function('wp_footer') }}
</body>
</html>
