[class*="super-block"]
    background-position: center center
    background-size: cover
    background-repeat: no-repeat
    +clearfix

// Container
// ----------------------------------------------------------------------------
.site-container,
.super-container
    position: relative
    max-width: $site-width
    margin: 0 auto
    padding: 0
    z-index: 10
    +container

    // Horizontal width
    &--normal
        max-width: $site-width

    &--full
        max-width: 100%

    &--wide
        max-width: $site-width--wide

    &--narrow
        max-width: $site-width--narrow

    &--extra-narrow
        max-width: $site-width--extra-narrow

    &--raw
        width: 100%
        max-width: 100%
        padding-left: 0
        padding-right: 0

    //  Vertical space
    // ----------------------------------------------------------------------------
    &--space-normal,
    &--top-space-normal
        padding-top: $site-vertical-padding / 2

    &--space-extra-minimal,
    &--top-space-extra-minimal
        padding-top: $site-vertical-padding--extra-minimal

    &--space-minimal,
    &--top-space-minimal
        padding-top: $site-vertical-padding--minimal

    &--space-large,
    &--top-space-large
        padding-top: $site-vertical-padding--large / 2

    &--space-extra-large,
    &--top-space-extra-large
        padding-top: $site-vertical-padding--extra-large / 2.2

    &--space-none,
    &--top-space-none
        padding-top: $site-vertical-padding--none

    &--space-normal,
    &--bottom-space-normal
        padding-bottom: $site-vertical-padding / 2

    &--space-extra-minimal,
    &--bottom-space-extra-minimal
        padding-bottom: $site-vertical-padding--extra-minimal

    &--space-minimal,
    &--bottom-space-minimal
        padding-bottom: $site-vertical-padding--minimal

    &--space-large,
    &--bottom-space-large
        padding-bottom: $site-vertical-padding--large / 2

    &--space-extra-large,
    &--bottom-space-extra-large
        padding-bottom: $site-vertical-padding--extra-large / 2.2

    &--space-none,
    &--bottom-space-none
        padding-bottom: $site-vertical-padding--none

    +for-phone-up
        // Top
        &--space-normal,
        &--top-space-normal
            padding-top: $site-vertical-padding

        &--space-extra-minimal,
        &--top-space-extra-minimal
            padding-top: $site-vertical-padding--extra-minimal

        &--space-minimal,
        &--top-space-minimal
            padding-top: $site-vertical-padding--minimal

        &--space-large,
        &--top-space-large
            padding-top: $site-vertical-padding--large

        &--space-extra-large,
        &--top-space-extra-large
            padding-top: $site-vertical-padding--extra-large

        &--space-none,
        &--top-space-none
            padding-top: $site-vertical-padding--none

        // Bottom
        &--space-normal,
        &--bottom-space-normal
            padding-bottom: $site-vertical-padding

        &--space-extra-minimal,
        &--bottom-space-extra-minimal
            padding-bottom: $site-vertical-padding--extra-minimal

        &--space-minimal,
        &--bottom-space-minimal
            padding-bottom: $site-vertical-padding--minimal

        &--space-large,
        &--bottom-space-large
            padding-bottom: $site-vertical-padding--large

        &--space-extra-large,
        &--bottom-space-extra-large
            padding-bottom: $site-vertical-padding--extra-large

        &--space-none,
        &--bottom-space-none
            padding-bottom: $site-vertical-padding--none
// Shapes
// ----------------------------------------------------------------------------
.super-block-shape-top,
.super-block-shape-bottom
    position: absolute
    right: 0
    left: 0
    top: auto
    bottom: auto
    padding: 0
    margin: 0
    width: 100%
    height: auto
    overflow: hidden
    line-height: 0
    box-sizing: border-box
    color: $color-white
    z-index: 1
    svg
        display: block
        width: calc(100% + 2px)
        position: relative
        left: 50%
        transform: translateX(-50%)
        box-sizing: border-box
        height: 100%
        max-height: inherit
        fill: currentColor

.super-block-shape-top
    top: -1px
    svg
        top: inherit

    &--curve-negative,
    &--curve-asymmetrical-negative,
    &--waves-negative
        transform: rotateX(180deg)

.super-block-shape-bottom
    bottom: -1px
    svg
        bottom: inherit

    &--curve,
    &--curve-asymmetrical,
    &--waves,
    &--mountains,
    &--wave-brush
        transform: rotateX(180deg)
