.super-button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"]
    display: inline-block
    cursor: pointer
    border: 1px solid transparent
    font-size: $font-size-sm
    text-transform: uppercase
    font-family: $font-family-heading
    padding: calc(#{$form-input-space-vertical} - 2px) calc(#{$form-input-space-horizontal} - 2px)
    border-radius: 5px
    transition: all 0.25s
    background: $color-black
    color: $color-white
    margin: 0
    filter: contrast(100%)
    box-shadow: 0 0 0 0 transparent

    &:hover
        color: $color-white
        filter: contrast(200%)
        box-shadow: 3px 3px 10px 0 fade_out(#000, 0.5)

.super-button
    // Colors
    // ----------------------------------------------------------------------------
    &--red
        background: $color-red

    &--green
        background: $color-green
        &:hover
            filter: contrast(140%)

    &--blue
        background: $color-blue

    // Size
    // ----------------------------------------------------------------------------
    &--full
        width: 100%
        text-align: center
