form
	margin-bottom: 1.5rem

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select
	display: block
	font-size: $font-size-normal
	font-family: $font-family-body
	border: 1px solid $form-input-border-color
	width: 100%
	max-width: 100%
	background: $form-input-background-color
	color: $form-input-color
	border-radius: 3px
	padding: calc(#{$form-input-space-vertical} - 2px) calc(#{$form-input-space-horizontal} - 2px)
	line-height: 1.4
	transition: all 0.25s

textarea
	width: 100%
	min-height: 5rem
	overflow: auto

	&.textarea-large
		min-height: 10rem

$input-type-color-height: $form-input-space-vertical * 2 + $font-size-normal * 1.4

input[type="color"]
	height: calc(#{$input-type-color-height} - 2px)
	min-width: 80px
	width: auto

// Special styles
// ----------------------------------------------------------------------------
.super-form-control
	margin: $form-control-vertical-margin 0

	> label:not(.radio-label):not(.checkbox-label)
		display: block
		margin: 0 0 5px
		font-size: $font-size-normal
		color: lighten($color-black, 0.7)
		font-weight: 600

	> label.radio-label,
	> label.checkbox-label
		display: block
		cursor: pointer

		input
			transform: translateY(1px)
			margin-right: 0.5rem

	&--success
		input
			border-color: $color-green

	&--error
		input
			border-color: $color-red

	&--error &__error-message
		color: $color-red

	&__error-message
		text-align: left

	&__description
		font-style: italic
		font-size: $font-size-sm
		color: $color-dark-grey
		text-align: left
