=grid-utils($device)
	$suffix: --#{$device}
	@if $device == ""
		$suffix: #{$device}

	/* Columns horizontal align
	 *-------------------------
	.grid-left#{$suffix}
		justify-content: flex-start
	.grid-right#{$suffix}
		justify-content: flex-end
	.grid-center#{$suffix}
		justify-content: center

	/* Columns vertical align
	 *----------------------------------
	.grid-top#{$suffix}
		align-items: flex-start
	.grid-middle#{$suffix}
		align-items: center
	.grid-bottom#{$suffix}
		align-items: flex-end

	/* Spacing between columns
	 *------------------------
	.grid-gap#{$suffix}
		margin-left: -$grid-space
		margin-right: -$grid-space

		> *
			padding-left: $grid-space
			padding-right: $grid-space

	.grid-gap-small#{$suffix}
		margin-left: -$grid-space / 2
		margin-right: -$grid-space / 2

		> *
			padding-left: $grid-space / 2
			padding-right: $grid-space / 2

	.grid-gap-extra-small#{$suffix}
		margin-left: -$grid-space / 4
		margin-right: -$grid-space / 4

		> *
			padding-left: $grid-space / 4
			padding-right: $grid-space / 4

	.grid-gap-large#{$suffix}
		margin-left: -$grid-space * 2
		margin-right: -$grid-space * 2

		> *
			padding-left: $grid-space * 2
			padding-right: $grid-space * 2

	.grid-gap-extra-large#{$suffix}
		margin-left: -$grid-space * 4
		margin-right: -$grid-space * 4

		> *
			padding-left: $grid-space * 4
			padding-right: $grid-space * 4

	.grid-no-gap#{$suffix},
	.grid-nogap#{$suffix}
		margin: 0

		> *
			padding: 0

	/* Vertical gutter
	 *-----------------------------------------
	.grid-v-gap#{$suffix}
		> *
			padding-top: $grid-space
			padding-bottom: $grid-space

	.grid-v-gap-small#{$suffix}
		> *
			padding-top: $grid-space / 2
			padding-bottom: $grid-space / 2

	.grid-v-gap-extra-small#{$suffix}
		> *
			padding-top: $grid-space / 4
			padding-bottom: $grid-space / 4

	.grid-v-gap-large#{$suffix}
		> *
			padding-top: $grid-space * 2
			padding-bottom: $grid-space * 2

	.grid-v-gap-extra-large#{$suffix}
		> *
			padding-top: $grid-space * 4
			padding-bottom: $grid-space * 4

	.grid-v-no-gap#{$suffix},
	.grid-v-nogap#{$suffix}
		> *
			padding-top: 0
			padding-bottom: 0

	/* Columns horizontal direction
	 *-----------------------------------------
	.grid-row-reverse#{$suffix}
		flex-direction: row-reverse
	.grid-row#{$suffix}
		flex-direction: row

	/* Columns vertical direction
	 *-----------------------------------------
	.grid-vertical-reverse#{$suffix}
		flex-direction: column-reverse
	.grid-vertical#{$suffix}
		flex-direction: column
	// The vertical direction should set the columns to 100%.
	.grid-vertical-reverse#{$suffix},
	.grid-vertical#{$suffix}
		> *
			max-width: 100% !important

		> [class*="cell-"]
			flex-grow: 1

	/* Spacing
	 *-----------------------------------------
	.grid-space-between#{$suffix}
		justify-content: space-between
	.grid-space-around#{$suffix}
		justify-content: space-around

	/* Columns wrapping in multiple lines
	 *------------------------------------------
	.grid-nowrap#{$suffix}
		flex-wrap: nowrap
	.grid-wrap#{$suffix}
		flex-wrap: wrap

	/* Grid container, columns show or hide
	 *--------------------------------------------
	.grid-hide#{$suffix},
	[class*="grid"] > .cell-hide#{$suffix}
		display: none

	.grid-show#{$suffix},
	[class*="grid"] > .cell-show#{$suffix}
		display: inline
		display: initial

	/* Column self vertical align
	 *----------------------------------
	[class*="grid"] > .cell-top#{$suffix}
		align-self: flex-start
	[class*="grid"] > .cell-bottom#{$suffix}
		align-self: flex-end
	[class*="grid"] > .cell-middle#{$suffix}
		align-self: center

	/* Column width auto
	 *-------------------------
	[class*="grid"] > .cell-auto#{$suffix}
		flex: 0 0 auto

	/* Column width auto fill the extra space
	 *-------------------------
	[class*="grid"] > .cell-fill#{$suffix}
		flex: 1 1 auto

	/* Text align
	 *------------------
	.text-right#{$suffix}
		text-align: right
	.text-left#{$suffix}
		text-align: left
	.text-center#{$suffix}
		text-align: center

=grid-gen($device: "")
	$suffix: --#{$device}
	@if $device == ""
		$suffix: #{$device}

	$i: $grid-columns

	@while $i > 0
		$selectors: ""
		@if $i > 1 and $i < 5 or $i == 6
			$selectors: ".grid-#{$grid-columns / $i}columns#{$suffix} > *,"
		@else if $i == 12
			$selectors: ".grid-#{$grid-columns / $i}column#{$suffix} > *,"
		#{$selectors} [class*="grid"] > .cell-#{$i}#{$suffix}
			flex-basis: $i * 100% / $grid-columns
			max-width: $i * 100% / $grid-columns
		// 5 columns fixed grid
		@if $i == 3
			.grid-5columns#{$suffix} > *
				flex-basis: percentage(1 / 5)
				max-width: percentage(1 / 5)
		$i: $i - 1
	+grid-utils($device)

/*
 *-------------------------------------------------------------------------------
 *Common grid rules
 *-------------------------------------------------------------------------------
.grid
	display: block
	margin-left: auto
	margin-right: auto
	padding-right: $grid-space
	padding-left: $grid-space

[class*="grid"]
	&,
	> [class*="grid"]
		list-style: none
		padding: 0
		margin: 0 (-$grid-space)
		// Parentheses are required. Else the subtraction from 0 will be executed.
		min-height: 1px
		box-sizing: border-box
		flex-wrap: wrap

	&,
	> [class*="grid"],
	> .cell-flex
		display: flex
		align-items: stretch

	.cell-flex > *,
	> *
		flex-basis: 100%
		max-width: 100%

	> *,
	> [class*="grid"]
		list-style: none
		margin: 0
		float: none
		padding-left: $grid-space
		padding-right: $grid-space
		box-sizing: border-box

.grid-as-table
	margin-bottom: 2.1rem

	> *
		padding-top: 1rem
		padding-bottom: 1rem
		border-bottom: 1px solid #ddd

+grid-gen()

@each $bp in map-keys($breakpoints)
	+media('>=#{$bp}')
		+grid-gen(#{$bp}-up)

@each $bp in map-keys($breakpoints)
	+media('<=#{$bp}')
		+grid-gen(#{$bp}-down)
