html
	font-size: $font-size-root

	+for-monitor-up
		font-size: $font-size-root--monitor-up

body
	overflow-y: auto
	overflow-x: hidden

html, body
	height: auto
	min-height: 100vh

html.admin-bar-root,
body.admin-bar
	min-height: calc(100vh - 32px)

@media screen and (max-width: 782px)
	html.admin-bar-root,
	body.admin-bar
		min-height: calc(100vh - 46px)

body
	display: flex
	flex-direction: column
