table
	margin: 0 0 1.5em
	width: 100%
	border-collapse: collapse
	text-align: left

tr
	background: $color-white

	&:nth-child(even)
		background: $color-light-grey

td, th
	padding: 0.8rem
	border: 1px solid $color-grey

