body, input, textarea, keygen, select, button, pre
	font-family: $font-family-body
	font-size: $font-size-normal
	color: $color-black
	line-height: 1.6

body
	font-size: $font-size-normal
	line-height: 1.6
	font-weight: 400
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	font-smoothing: antialiased
	font-feature-settings: "kern" 1
	font-kerning: normal
	letter-spacing: 0.32px

svg
	width: 100%
	height: 100%
	max-width: 100%

// Headings
// ----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6
	font-family: $font-family-heading
	line-height: 1.2

h1
	font-size: $font-size-h1
	margin: $font-size-h1 * 1.15 auto $font-size-h1 * 0.4

h2
	font-size: $font-size-h2
	margin: $font-size-h2 * 1.8 auto $font-size-h2 * 0.4

h3
	font-size: $font-size-h3
	margin: $font-size-h3 * 1.8 auto $font-size-h3 * 0.4

h4
	font-size: $font-size-h4
	margin: $font-size-h4 * 1.8 auto $font-size-h4 * 0.4

h5
	font-size: $font-size-h5
	margin: $font-size-h5 * 1.8 auto $font-size-h5 * 0.4

h6
	font-size: $font-size-h6
	margin: $font-size-h6 * 1.8 auto $font-size-h6 * 0.4

+for-tablet-down
	h1
		font-size: $font-size-h1 / 1.2
	h2
		font-size: $font-size-h2 / 1.2
	h3
		font-size: $font-size-h3 / 1.2
	h4
		font-size: $font-size-h4 / 1.2
	h5
		font-size: $font-size-h5 / 1.1

+for-phone-down
	h1
		font-size: $font-size-h1 / 1.3
	h2
		font-size: $font-size-h2 / 1.3
	h3
		font-size: $font-size-h3 / 1.3
	h4
		font-size: $font-size-h4 / 1.3
	h5
		font-size: $font-size-h5 / 1.15

// Other elements
// ----------------------------------------------------------------------------

label
	text-align: left
	display: block

a
	font-size: inherit
	text-decoration: none

	&:hover
		cursor: pointer

p
	margin-bottom: 1.2em

	&:empty
		display: none

dfn, cite, em, i
	font-style: italic

blockquote
	margin: 0 1.5em

address
	margin: 0 0 1.5em

pre
	display: block
	background: $color-light-grey
	font-family: $font-family-code
	font-size: $font-size-sm
	line-height: 1.6
	max-width: 100%
	tab-size: 4
	color: #eee
	font-weight: 300
	background: #000
	border-radius: 5px
	padding: $font-size-normal
	margin: 1.6rem auto 2.5rem
	overflow: auto

code, kbd, tt, var
	font-family: $font-family-code
	font-size: $font-size-sm

abbr, acronym
	border-bottom: 1px dotted $color-black
	cursor: help

mark, ins
	background: $color-yellow
	text-decoration: none

big
	font-size: 125%
