// Breakpoints
// ----------------------------------------------------------------------------
$bp-phone-small: 400px;
$bp-phone: 600px;
$bp-tablet: 900px;
$bp-desktop: 1200px;
$bp-monitor: 1800px;

$breakpoints: (
    phone-small: $bp-phone-small,
    phone: $bp-phone,
    tablet: $bp-tablet,
    desktop: $bp-desktop,
    monitor: $bp-monitor,
);

// Font family
// ----------------------------------------------------------------------------
$font-family-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-family-body: 'Merriweather', serif;
$font-family-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

// Colors
// ----------------------------------------------------------------------------
$color-white: #fff;
$color-black: #414550;
$color-blue: #176fff;
$color-green: #00ad45;
$color-red: #ff3633;
$color-yellow: #f6e455;

$color-light-grey: #f2f3f4;
$color-grey: #dae8ef;
$color-dark-grey: #798f9a;

$colors-map: (
    white: $color-white,
    black: $color-black,
    blue: $color-blue,
    green: $color-green,
    red: $color-red,
    yellow: $color-yellow,
    light-grey: $color-light-grey,
    grey: $color-grey,
    dark-grey: $color-dark-grey,
);

// Font size
// ----------------------------------------------------------------------------
// The base font size. Applied to the body and html document
$font-size-root: 62.5%;
$font-size-root--monitor-up: 70.5%;

// Headings
$font-size-h1: 4rem;
$font-size-h2: 3.6rem;
$font-size-h3: 3.1rem;
$font-size-h4: 2.6rem;
$font-size-h5: 2.2rem;
$font-size-h6: 1.8rem;

// Extra
$font-size-xs: 1.2rem;
$font-size-sm: 1.4rem;
$font-size-normal: 1.6rem;
$font-size-md: 1.8rem;
$font-size-lg: 2.1rem;
$font-size-xl: 3rem;
$font-size-xxl: 4rem;
$font-size-xxxl: 5rem;

// Spacing
// ----------------------------------------------------------------------------
$site-width: 128rem;
$site-width--wide: 144rem;
$site-width--narrow: 96rem;
$site-width--extra-narrow: 64rem;

$site-width--desktop-up: 200rem;

$site-base-space: 1.6rem;
$site-base-space--tablet-up: 4.8rem;
$site-base-space--phone-up: 3.2rem;

$site-vertical-padding: 4rem;
$site-vertical-padding--none: 0;
$site-vertical-padding--extra-minimal: 1rem;
$site-vertical-padding--minimal: 2rem;
$site-vertical-padding--large: 8rem;
$site-vertical-padding--extra-large: 16rem;

// Navigation
// ----------------------------------------------------------------------------
$nav-padding-horizontal: 4.4rem;
$nav-mbar-width: 1.7rem;
$nav-mbar-height: 0.2rem;
$nav-mbar-margin: 0.5rem;
$nav-mobile-width: 100%;

// Grid
// ----------------------------------------------------------------------------
$grid-columns: 12;
$grid-space: 1.6rem;

// Forms
// ----------------------------------------------------------------------------
$form-input-color: $color-black;
$form-input-background-color: $color-white;
$form-input-border-color: $color-dark-grey;

$form-control-vertical-margin: 2rem;
$form-input-space-vertical: 1.2rem;
$form-input-space-horizontal: 1.2rem;
