//
//
// WordPress related styles
//
//
// Images from content
// ----------------------------------------------------------------------------
.wp-caption
	margin-bottom: 1.5em
	max-width: 100%

	img[class*="wp-image-"]
		+center-block

	.wp-caption-text
		margin: 0.8075em 0

.wp-caption-text
	text-align: center

// Default WP gallery styles
// ----------------------------------------------------------------------------
.gallery
	margin-bottom: 1.5em

.gallery-item
	display: inline-block
	text-align: center
	vertical-align: top
	width: 100%

	// Loops to enumerate the classes for gallery columns.
	@for $i from 2 through 9
		.gallery-columns-#{$i} &
			max-width: 100% / $i

.gallery-caption
	display: block

// Other inner content styles
// ----------------------------------------------------------------------------
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley
	border: none
	margin-bottom: 0
	margin-top: 0
	padding: 0

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object
	max-width: 100%

/* Make sure logo link wraps around logo image. */
.custom-logo-link
	display: inline-block
	margin: 0 20px 0 0

	img
		margin: 0
		vertical-align: middle

// Alignments
// ----------------------------------------------------------------------------
.alignleft
	display: inline
	float: left
	margin-right: 1.5em

.alignright
	display: inline
	float: right
	margin-left: 1.5em

.aligncenter
	clear: both
	+center-block

