@mixin container() {
    & {
        margin: 0 auto;
        max-width: $site-width;
        padding-left: $site-base-space;
        padding-right: $site-base-space;

        @include for-phone-up {
            padding-left: $site-base-space--phone-up;
            padding-right: $site-base-space--phone-up;
        }

        @include for-tablet-up {
            padding-left: $site-base-space--tablet-up;
            padding-right: $site-base-space--tablet-up;
        }

        @include for-desktop-up {
            max-width: $site-width--desktop-up;
        }
    }
}
