// Clear floats
// ----------------------------------------------------------------------------
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        clear: both;
        display: table;
    }
}

// Break word if it's too long and gets out of it's container
// ----------------------------------------------------------------------------
@mixin break-word() {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

// Center block
// ----------------------------------------------------------------------------
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
