.editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit::before
    display: none

.editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit
    margin-bottom: -20px !important

.edit-post-visual-editor .block-editor-block-list__block
    max-width: 1200px

.components-modal
    &__header
        z-index: 15

    &__frame
        width: 100%
        max-width: 900px !important
        border-color: #fff
        box-shadow: 0 10px 30px 9px rgba(25, 30, 35, 0.2)
        border-radius: 5px

    &__screen-overlay
        background: rgba(0, 0, 0, 0.4)

.components-modal__header-heading
    font-size: 20px !important

.components-modal__content
    background: #f7f7f7

    .block-library-rich-text__tinymce
        background: #ffffff
        padding: 12px
        margin: 0 0 24px
        min-height: 120px

    .block-library-classic__toolbar
        margin: 0

        &:not(:empty)
            top: 72px

    .freeform-toolbar
        margin: 0
        top: 0 !important
        transform: none
        position: static !important

        &:before
            display: none

        &:empty
            height: auto

    .editor-media-placeholder
        box-sizing: border-box

    .components-toggle-control
        *
            box-sizing: border-box

        .components-base-control__field
            flex-direction: row-reverse
            justify-content: flex-end
            display: block

            label
                margin-left: 15px

    .components-base-control__help
        margin: 0 0 10px

    .components-draggable__clone
        left: 0 !important

    .components-base-control
        margin-bottom: 20px

        &__label
            font-weight: 700
            margin-top: 10px
            margin-bottom: 10px
            display: block
            font-size: 14px

        &__help
            margin: 0

.components-base-control__label::first-letter
    text-transform: uppercase

.components-modal__icon-container
    display: flex
    margin-right: 12px

.components-modal__header button
    background: #ED6625 !important
    color: #ffffff !important
    border-radius: 3px
    border: none !important
    box-shadow: none !important
    font-weight: 500

    &:hover
        opacity: 0.8

    &:before
        content: 'Close Modal'

    svg, span
        display: none !important

.components-popover:not(.is-mobile).is-bottom
    z-index: 999999 !important

div[style*="color"] .components-color-palette .components-color-palette__custom-color .components-color-palette__item
    color: inherit
    background: currentColor

    > span
        opacity: 0

.components-placeholder__instructions
    font-size: 12px
    color: #909090
    max-width: 65%

.components-popover:not(.is-mobile).is-bottom
    z-index: 1000000 !important

.super-block
    position: relative
    background: rgba(24, 49, 78, 0.08)
    padding: 24px 18px
    border-radius: 5px
    box-shadow: none
    border: 1px dashed fade_out(#3498db, 0.8)
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
    margin: 0
    transition: all 0.15s ease
    display: flex
    align-items: center
    overflow: hidden

    > *
        max-width: 100%
        flex-basis: 100%

    .is-selected &
        transform: scale(1.02)
        box-shadow: 0 3px 20px -8px fade_out(#3498db, 0.8)
        border-style: solid
        background: rgba(24, 49, 78, 0.12)

    .is-hovered &
        background: #f1f1f1

    &__info
        > h2
            text-transform: uppercase
            font-family: inherit
            margin: 0 0 6px
            color: #212121 !important
            font-size: 18px

        > p
            font-family: inherit !important
            margin: 0
            color: #535353 !important
            font-size: 12px !important

    &__cta
        position: absolute
        right: 6px
        top: 6px
        opacity: 0
        transform: scale(0.8, 0.8)
        transition: all .1s

        > button
            box-shadow: none
            border: none
            width: 36px
            height: 36px
            border-radius: 5px
            cursor: pointer
            background: #3498db
            color: #fff
            display: flex
            align-items: center
            justify-content: center
            margin: 0

            &:focus
                outline: none

            > svg
                fill: currentColor

[class*="wp-block"]:hover .super-block__cta,
[class*="wp-block"].is-selected .super-block .super-block__cta
    transform: scale(1, 1)
    opacity: 1

.preview-icon
    padding: 6px
    margin-right: 18px
    border-radius: 3px

    > svg
        display: block

.super-image-preview
    display: flex
    flex-wrap: wrap
    padding: 0 0 12px
    overflow: hidden

    &__item
        width: 100%
        position: relative
        max-width: 250px
        box-sizing: border-box
        border: 1px solid

        .edit-post-block-sidebar__panel &
            width: 100%
            height: 50px

        &:before
            content: ''
            display: block
            padding-top: 100%

        > img
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            object-fit: cover

        &--close
            position: absolute
            top: 0
            right: 0
            z-index: 2
            cursor: pointer

            > svg
                background: #ED6625
                fill: #ffffff !important

    &__cta
        padding-top: 6px
        display: block
        width: 100%
        position: relative

.super-generator
    &--wrapper
        margin-bottom: 24px

        > button
            display: flex
            align-items: center

            > svg
                margin-bottom: -4px

    &--item
        border: 2px solid #cdcdcd
        padding: 36px 12px 12px
        position: relative
        margin-bottom: 18px

        &:first-of-type .super-generator--move-up,
        &:last-of-type .super-generator--move-down
            opacity: 0.3
            pointer-events: none

        &.toggled
            height: 100px
            overflow: hidden

            &:after
                content: ''
                position: absolute
                left: 0
                right: 0
                bottom: 0
                height: 50px
                background: linear-gradient(0deg, #f7f7f7 20%, transparent)
                z-index: 5

    &--tools
        position: absolute
        top: -1px
        right: -1px
        left: -1px
        display: flex
        justify-content: flex-end
        background: #cdcdcd

        > div
            padding: 5px
            cursor: pointer
            box-shadow: inset 0 0 0 1px #c5c5c5
            margin-right: -1px

            > svg
                display: block
                max-height: 18px

    &--move-down
        margin-right: auto !important

.editor-block-list__block > .editor-block-mover
    z-index: 1

.super-block
    .block-editor-block-list__block.is-multi-selected>.block-editor-block-mover,
    .block-editor-block-list__block>.block-editor-block-list__block-edit>.block-editor-block-mover
        left: 0

.super-builder-fields-container
    display: flex
    flex-wrap: wrap
    margin: 0 -10px

    > div
        flex-basis: 50%
        max-width: 50%
        box-sizing: border-box
        padding: 0 10px

    $i: 12

    @while $i > 1
        .super-builder-col--#{$i}
            flex-basis: 100% / 12 * $i
            max-width: 100% / 12 *  $i
        $i: $i - 1

.components-color-palette
    padding-bottom: 25px

.components-color-palette__item-wrapper
    margin-right: 6px
    margin-bottom: 6px

h2, h3, h4, h5
    &.super-builder-heading
        position: relative
        margin: 10px 0 10px
        padding: 0 0 10px
        border-bottom: 1px solid #ddd
        color: #222

h4
    &.super-builder-heading
        font-size: 14px
        font-weight: 700

.super-builder-fields-container.super-builder-fields-container--sidebar
    margin: 0 -3px

    > div
        padding: 0 3px

    .components-base-control
        margin-top: 10px
        margin-bottom: 10px

// Metabox
// ----------------------------------------------------------------------------
.super-builder-metabox-inner
    width: 100%


