.super-menu-image-container
    position: relative
    .super-menu-image-preview
        display: none
        background: #ddd
        img, svg
            display: block
        svg
            width: 48px
            height: 48px
        img
            width: 100%
            max-width: 150px
            height: auto

    .super-menu-image-controls
        display: block

    .super-menu-image-remove
        display: none
        color: red
        font-style: normal

    &--selected
        position: relative
        .super-menu-image-preview,
        .super-menu-image-remove
            display: inline-block

        .super-menu-image-browse
            display: none


